@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-neutral-800 custom-scrollbar;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  p {
    @apply leading-none text-[11px];
  }
  h1 {
    @apply text-[57px] text-white font-medium;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  h3 {
    @apply text-neutral-950 text-2xl font-medium;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  h5 {
    @apply text-[15px] font-medium;
  }
}

.ball {
  @apply md:flex hidden z-50 size-12 fixed top-0 left-0 rounded-full pointer-events-none border border-neutral-500/50;
}
.cursor-dot {
  @apply md:flex hidden;
  transition: transform 0.1s ease;
}

/* ------------------------ Scrollbar Styles ------------------------ */
.custom-scrollbar {
  overflow-y: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-lg bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-neutral-700;
}
.invisible-scrollbar::-webkit-scrollbar {
  width: 1px;
}
.invisible-scrollbar::-webkit-scrollbar-track {
  @apply rounded-sm bg-transparent;
}
.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-transparent;
}
